<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<body>
<header>
  <%- include('./header') %>
</header>
<main>
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <table class="table">
        <thead>
            <tr>
              <% for(let i=0; i<context.length; i++) { %>
                <th scope="col"><%= context[i].stationName %></th>
              <% } %>
            </tr>
        </thead>
        <tbody>
            <tr>
              <% for(let i=0; i<context.length; i++) { %>
                <td><%= context[i].pm10Value %></td>
              <% } %>
            </tr>
            <tr>
                <% for(let i=0; i<context.length; i++) { %>
                  <td><%= context[i].pm25Value %></td>
                <% } %>
              </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-center mb-2">
    <div class="col-md-8">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</main>
</body>
<!-- html에서 사용된 js 코드는 서버에서 실행 후 데이터 채움 -->

<!-- 사용자의 브라우저에서 실행 될 js > 차트그리기 -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
  var context = JSON.parse('<%- JSON.stringify(context) %>');
  var label = new Array();
  var pm10 = new Array();
  
    for(let i=0; i<context.length; i++) { 
      label.push(context[i].stationName);
      pm10.push(context[i].pm10Value);
    }
    
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: label,
        datasets: [{
            label: '미세먼지 수치',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: pm10
        }], 
    },

    // Configuration options go here
    options: {}
  });
  </script>

</html>